In [1]:
import tradingeconomics as te

In [2]:
te.login()

'You are logged in as a guest:guest'

# Federal Reserve

##### 1 List of all US states
/fred/states
https://api.tradingeconomics.com/fred/states?c=guest:guest

In [3]:
te.getFedRStates(output_type='df')

                    name
0               Arkansas
1               Illinois
2                Indiana
3               Kentucky
4            Mississippi
5               Missouri
6              Tennessee
7                Alabama
8                 Alaska
9                Arizona
10            California
11              Colorado
12           Connecticut
13              Delaware
14  District of Columbia
15               Florida
16               Georgia
17                Hawaii
18                 Idaho
19                  Iowa
20                Kansas
21             Louisiana
22                 Maine
23              Maryland
24         Massachusetts
25              Michigan
26             Minnesota
27               Montana
28              Nebraska
29                Nevada
30         New Hampshire
31            New Jersey
32            New Mexico
33              New York
34        North Carolina
35          North Dakota
36                  Ohio
37              Oklahoma
38                Oregon
39          Pennsylvania
40           Puerto Rico
41          Rhode Island
42        South Carolina
43          South Dakota
44                 Texas
45                  Utah
46               Vermont
47        Virgin Islands
48              Virginia
49         West Virginia
50            Washington
51             Wisconsin
52               Wyoming
53                  None

##### 2  List of all counties per state
/fred/counties/{state}
https://api.tradingeconomics.com/fred/counties/arkansas?c=guest:guest

In [4]:
te.getFedRStates(county = 'arkansas', output_type = 'df')

                    county
0        Baxter County, AR
1        Benton County, AR
2        Chicot County, AR
3         Clark County, AR
4          Clay County, AR
..                     ...
77       Sevier County, AR
78  St. Francis County, AR
79        Stone County, AR
80        Union County, AR
81    Van Buren County, AR

[82 rows x 1 columns]

##### 3 - Data by Symbol
/fred/snapshot/symbol/{symbol}
https://api.tradingeconomics.com/fred/snapshot/symbol/ALLMARGATTN?c=guest:guest

In [5]:
te.getFedRSnaps(symbol='ALLMARGATTN', output_type='df')

,symbol,Country,Category,Last,Date,Previous,PreviousDate,Frequency,popularity,Start,Unit,Adjustment,URL,lastUpdate
0,ALLMARGATTN,Tennessee,All Marginally Attached Workers for Tennessee,27500.0,2021-04-01T00:00:00,37000.0,2021-01-01T00:00:00,Quarterly,1,2003-10-01T00:00:00,"Persons, 4-Qtr. Moving Average",NSA,/united-states/all-marginally-attached-workers...,2021-09-05T18:54:42.017

##### 4 data by URL. Example: "url=/united-states/all-marginally-attached-workers-for-tennessee-fed-data.html"
/fred/snapshot/url?c=guest:guest&url={url}
https://api.tradingeconomics.com/fred/snapshot/url?c=guest:guest&url=/united-states/all-marginally-attached-workers-for-tennessee-fed-data.html

In [6]:
te.getFedRSnaps(url='url=/united-states/all-marginally-attached-workers-for-tennessee-fed-data.html', output_type='df')

,symbol,Country,Category,Last,Date,Previous,PreviousDate,Frequency,popularity,Start,Unit,Adjustment,URL,lastUpdate
0,ALLMARGATTN,Tennessee,All Marginally Attached Workers for Tennessee,27500.0,2021-04-01T00:00:00,37000.0,2021-01-01T00:00:00,Quarterly,1,2003-10-01T00:00:00,"Persons, 4-Qtr. Moving Average",NSA,/united-states/all-marginally-attached-workers...,2021-09-05T18:54:42.017

##### 5 Data by Country
/fred/snapshot/country/{country}
https://api.tradingeconomics.com/fred/snapshot/country/united%20states/?c=guest:guest

In [7]:
te.getFedRSnaps(country = 'united states', output_type = 'df')

,symbol,Country,Category,Last,Date,Previous,PreviousDate,Frequency,popularity,Start,Unit,Adjustment,URL,lastUpdate
0,A001RD3A086NBEA,United States,Gross national product (implicit price deflator),113.636,2020-01-01T00:00:00,112.283,2019-01-01T00:00:00,Yearly,5,1929-01-01T00:00:00,Index 2009=100,NSA,/united-states/gross-national-product-implicit...,2021-09-05T19:35:15.49
1,A001RG3A086NBEA,United States,Gross national product (chain-type price index),113.721,2020-01-01T00:00:00,112.261,2019-01-01T00:00:00,Yearly,23,1929-01-01T00:00:00,Index 2009=100,NSA,/united-states/gross-national-product-chain-ty...,2021-09-05T19:35:15.297
2,A001RI1A225NBEA,United States,Gross National Product: Implicit Price Deflato...,1.200,2020-01-01T00:00:00,1.800,2019-01-01T00:00:00,Yearly,7,1930-01-01T00:00:00,% Chg. from Preceding Period,NSA,/united-states/gross-national-product-implicit...,2021-09-05T19:35:15.08
3,A001RI1Q225SBEA,United States,Gross National Product: Implicit Price Deflato...,6.200,2021-04-01T00:00:00,4.300,2021-01-01T00:00:00,Quarterly,15,1947-04-01T00:00:00,% Chg. from Preceding Period,SAAR,/united-states/gross-national-product-implicit...,2021-09-05T19:35:14.803
4,A001RL1A225NBEA,United States,Real Gross National Product Percent Change fro...,-3.600,2020-01-01T00:00:00,2.100,2019-01-01T00:00:00,Yearly,11,1930-01-01T00:00:00,% Chg. from Preceding Period,NSA,/united-states/real-gross-national-product-per...,2021-09-05T19:35:14.56
5,A001RL1Q225SBEA,United States,Real Gross National Product Percent Change fro...,6.600,2021-04-01T00:00:00,5.900,2021-01-01T00:00:00,Quarterly,11,1947-04-01T00:00:00,% Chg. from Preceding Period,SAAR,/united-states/real-gross-national-product-per...,2021-09-05T19:35:14.367
6,A001RO1Q156NBEA,United States,Real Gross National Product Percent Change fro...,12.400,2021-04-01T00:00:00,0.500,2021-01-01T00:00:00,Quarterly,21,1948-01-01T00:00:00,% Chg. from Qtr. 1 Yr. Ago,SA,/united-states/real-gross-national-product-per...,2021-09-05T19:35:14.11
7,A001RP1A027NBEA,United States,Gross National Product Percent Change from Pre...,-2.400,2020-01-01T00:00:00,3.900,2019-01-01T00:00:00,Yearly,20,1930-01-01T00:00:00,% Chg. from Preceding Period,NSA,/united-states/gross-national-product-percent-...,2021-09-05T19:35:13.887
8,A001RP1Q027SBEA,United States,Gross National Product Percent Change from Pre...,13.300,2021-04-01T00:00:00,10.400,2021-01-01T00:00:00,Quarterly,20,1947-04-01T00:00:00,% Chg. from Preceding Period,SAAR,/united-states/gross-national-product-percent-...,2021-09-05T19:35:13.63
9,A001RV1A225NBEA,United States,Gross National Product (chain-type price index...,1.300,2020-01-01T00:00:00,1.800,2019-01-01T00:00:00,Yearly,2,1930-01-01T00:00:00,% Chg. from Preceding Period,NSA,/united-states/gross-national-product-chain-ty...,2021-09-05T19:35:13.447

#####6 Data by State
/fred/snapshot/state/{state}
https://api.tradingeconomics.com/fred/snapshot/state/tennessee?c=guest:guest

In [8]:
te.getFedRSnaps(state = 'tennessee', output_type = 'df')

,symbol,Country,Category,Last,Date,Previous,PreviousDate,Frequency,popularity,Start,Unit,Adjustment,URL,lastUpdate
0,ALLMARGATTN,Tennessee,All Marginally Attached Workers for Tennessee,27500.0,2021-04-01T00:00:00,37000.0,2021-01-01T00:00:00,Quarterly,1,2003-10-01T00:00:00,"Persons, 4-Qtr. Moving Average",NSA,/united-states/all-marginally-attached-workers...,2021-09-05T18:54:42.017
1,BRTN47M647NCEN,Tennessee,SNAP Benefits Recipients in Tennessee Persons,884811.0,2019-06-01T00:00:00,891135.0,2019-05-01T00:00:00,Monthly,1,1981-01-01T00:00:00,Persons,NSA,/united-states/snap-benefits-recipients-in-ten...,2021-09-05T14:43:07.517
2,CIVLFTN,Tennessee,Civilian Labor Force for Tennessee,3316100.0,2021-04-01T00:00:00,3292600.0,2021-01-01T00:00:00,Quarterly,1,2003-10-01T00:00:00,"Persons, 4-Qtr. Moving Average",NSA,/united-states/civilian-labor-force-for-tennes...,2021-09-05T12:20:01.67
3,DISCWORKTN,Tennessee,Not in Labor Force: Discouraged Workers for Te...,8800.0,2021-04-01T00:00:00,11700.0,2021-01-01T00:00:00,Quarterly,1,2003-10-01T00:00:00,"Persons, 4-Qtr. Moving Average",NSA,/united-states/not-in-labor-force-discouraged-...,2021-09-05T07:01:08.637
4,EMPLOYTN,Tennessee,Employment Level for Tennessee,3123000.0,2021-04-01T00:00:00,3035700.0,2021-01-01T00:00:00,Quarterly,1,2003-10-01T00:00:00,"Persons, 4-Qtr. Moving Average",NSA,/united-states/employment-level-for-tennessee-...,2021-09-05T06:07:32.87
5,GCT1501TN,Tennessee,People 25 Years and Over Who Have Completed Hi...,88.0,2019-01-01T00:00:00,87.8,2018-01-01T00:00:00,Yearly,4,2006-01-01T00:00:00,%,NSA,/united-states/people-25-years-and-over-who-ha...,2021-09-05T04:54:27.697
6,GCT1502TN,Tennessee,People 25 Years and Over Who Have Completed a ...,28.7,2019-01-01T00:00:00,27.5,2018-01-01T00:00:00,Yearly,2,2006-01-01T00:00:00,%,NSA,/united-states/people-25-years-and-over-who-ha...,2021-09-05T04:54:19.74
7,GCT1503TN,Tennessee,People 25 Years and Over Who Have Completed an...,10.7,2019-01-01T00:00:00,10.2,2018-01-01T00:00:00,Yearly,1,2006-01-01T00:00:00,%,NSA,/united-states/people-25-years-and-over-who-ha...,2021-09-05T04:54:11.887
8,INVOLPTEMPTN,Tennessee,Employed Involuntary Part-Time for Tennessee,109600.0,2021-04-01T00:00:00,149800.0,2021-01-01T00:00:00,Quarterly,1,2003-10-01T00:00:00,"Persons, 4-Qtr. Moving Average",NSA,/united-states/employed-involuntary-part-time-...,2021-09-05T02:26:25.287
9,JOBLOSTN,Tennessee,Job Losers for Tennessee,127600.0,2021-04-01T00:00:00,196300.0,2021-01-01T00:00:00,Quarterly,1,2003-10-01T00:00:00,"Persons, 4-Qtr. Moving Average",NSA,/united-states/unemployed-job-losers-for-tenne...,2021-09-05T01:27:09.517

##### 7 Data By County
/fred/snapshot/county/{county}
https://api.tradingeconomics.com/fred/snapshot/county/arkansas?c=guest:guest

In [9]:
te.getFedRSnaps(county = 'arkansas', output_type = 'df')

,symbol,Country,Category,Last,Date,Previous,PreviousDate,Frequency,popularity,Start,Unit,Adjustment,URL,lastUpdate
0,2020RATIO005001,"Arkansas County, AR","Income Inequality in Arkansas County, AR",17.19475,2019-01-01T00:00:00,17.05513,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-arkansas-c...,2021-09-05T19:51:52.7
1,2020RATIO005003,"Ashley County, AR","Income Inequality in Ashley County, AR",14.95700,2019-01-01T00:00:00,14.43407,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-ashley-cou...,2021-09-05T19:51:52.527
2,2020RATIO005005,"Baxter County, AR","Income Inequality in Baxter County, AR",11.36800,2019-01-01T00:00:00,11.86610,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-baxter-cou...,2021-09-05T19:51:52.367
3,2020RATIO005007,"Benton County, AR","Income Inequality in Benton County, AR",12.93336,2019-01-01T00:00:00,12.70648,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-benton-cou...,2021-09-05T19:51:52.26
4,2020RATIO005009,"Boone County, AR","Income Inequality in Boone County, AR",11.49574,2019-01-01T00:00:00,12.27257,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-boone-coun...,2021-09-05T19:51:52.127
5,2020RATIO005011,"Bradley County, AR","Income Inequality in Bradley County, AR",14.89356,2019-01-01T00:00:00,15.12940,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-bradley-co...,2021-09-05T19:51:52.02
6,2020RATIO005013,"Calhoun County, AR","Income Inequality in Calhoun County, AR",12.15240,2019-01-01T00:00:00,12.08948,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-calhoun-co...,2021-09-05T19:51:51.863
7,2020RATIO005015,"Carroll County, AR","Income Inequality in Carroll County, AR",12.87001,2019-01-01T00:00:00,11.96899,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-carroll-co...,2021-09-05T19:51:51.663
8,2020RATIO005017,"Chicot County, AR","Income Inequality in Chicot County, AR",26.94712,2019-01-01T00:00:00,27.91139,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-chicot-cou...,2021-09-05T19:51:51.483
9,2020RATIO005019,"Clark County, AR","Income Inequality in Clark County, AR",13.01120,2019-01-01T00:00:00,14.91848,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,/united-states/income-inequality-in-clark-coun...,2021-09-05T19:51:51.317

##### 8 Data to Pike County
/fred/snapshot/county/Pike%20County,%20AR

https://api.tradingeconomics.com/fred/snapshot/county/Pike%20County,%20AR?c=guest:guest

In [14]:
te.getFedRCounty(output_type = 'df')

,symbol,Country,Category,Last,Date,Previous,PreviousDate,Frequency,popularity,Start,Unit,Adjustment,isVisible,URL,lastUpdate
0,2020RATIO005109,"Pike County, AR","Income Inequality in Pike County, AR",11.34002,2019-01-01T00:00:00,10.67254,2018-01-01T00:00:00,Yearly,1,2010-01-01T00:00:00,Ratio,NSA,1,/united-states/income-inequality-in-pike-count...,2021-09-05T19:51:44.55
1,ARPILFN,"Pike County, AR","Civilian Labor Force in Pike County, AR",4318.00000,2021-07-01T00:00:00,4459.00000,2021-06-01T00:00:00,Monthly,1,1990-01-01T00:00:00,Persons,NSA,1,/united-states/civilian-labor-force-in-pike-co...,2021-09-15T09:55:27.113
2,ARPIPOP,"Pike County, AR","Resident Population in Pike County, AR",10.64300,2020-01-01T00:00:00,10.70500,2019-01-01T00:00:00,Yearly,1,1970-01-01T00:00:00,Thous. of Persons,NSA,1,/united-states/resident-population-in-pike-cou...,2021-09-05T18:36:27.463
3,ARPIURN,"Pike County, AR","Unemployment Rate in Pike County, AR",4.70000,2021-07-01T00:00:00,5.40000,2021-06-01T00:00:00,Monthly,1,1990-01-01T00:00:00,%,NSA,1,/united-states/unemployment-rate-in-pike-count...,2021-09-15T09:55:27.6
4,B01002001E005109,"Pike County, AR","Median Age of the Population in Pike County, AR",43.10000,2019-01-01T00:00:00,42.80000,2018-01-01T00:00:00,Yearly,1,2009-01-01T00:00:00,Years of Age,NSA,1,/united-states/median-age-of-the-population-in...,2021-09-05T18:02:30.33
5,B03002003E005109,"Pike County, AR",Population Estimate of Non-Hispanic White Pers...,9398.00000,2019-01-01T00:00:00,9458.00000,2018-01-01T00:00:00,Yearly,1,2009-01-01T00:00:00,Persons,NSA,1,/united-states/population-estimate-of-non-hisp...,2021-09-05T17:53:05.13
6,B03002004E005109,"Pike County, AR",Population Estimate of Non-Hispanic Black or A...,439.00000,2019-01-01T00:00:00,355.00000,2018-01-01T00:00:00,Yearly,1,2009-01-01T00:00:00,Persons,NSA,1,/united-states/population-estimate-of-non-hisp...,2021-09-05T17:42:27.337
7,B03002005E005109,"Pike County, AR",Population Estimate of Non-Hispanic American I...,56.00000,2019-01-01T00:00:00,75.00000,2018-01-01T00:00:00,Yearly,1,2009-01-01T00:00:00,Persons,NSA,1,/united-states/population-estimate-of-non-hisp...,2021-09-05T17:32:00.817
8,B03002006E005109,"Pike County, AR",Population Estimate of Non-Hispanic Asian Pers...,46.00000,2019-01-01T00:00:00,45.00000,2018-01-01T00:00:00,Yearly,1,2009-01-01T00:00:00,Persons,NSA,1,/united-states/population-estimate-of-non-hisp...,2021-09-05T17:22:24.767
9,B03002012E005109,"Pike County, AR",Population Estimate of Hispanic or Latino Pers...,700.00000,2019-01-01T00:00:00,703.00000,2018-01-01T00:00:00,Yearly,1,2009-01-01T00:00:00,Persons,NSA,1,/united-states/population-estimate-of-hispanic...,2021-09-05T17:12:42.323

##### 9 Data Only accessed through symbol
/fred/historical/{symbol}
https://api.tradingeconomics.com/fred/historical/RACEDISPARITY005007?c=guest:guest

In [12]:
te.getFedRHistorical(symbol='racedisparity005007', output_type='df')

                symbol                 date     value
0  racedisparity005007  2009-01-01T00:00:00  33.60301
1  racedisparity005007  2010-01-01T00:00:00  36.29680
2  racedisparity005007  2011-01-01T00:00:00  36.59937
3  racedisparity005007  2012-01-01T00:00:00  35.99552
4  racedisparity005007  2013-01-01T00:00:00  34.85827
5  racedisparity005007  2014-01-01T00:00:00  37.62207
6  racedisparity005007  2015-01-01T00:00:00  37.52267
7  racedisparity005007  2016-01-01T00:00:00  37.71152
8  racedisparity005007  2017-01-01T00:00:00  35.60751
9  racedisparity005007  2018-01-01T00:00:00  37.29940

#####9  Multiple symbols
/fred/historical/{symbols}
http://api.tradingeconomics.com/fred/historical/RACEDISPARITY005007,2020RATIO002013?c=guest:guest

In [13]:
te.getFedRHistorical(symbol = ['racedisparity005007', '2020ratio002013'], output_type = 'df')

                symbol                 date     value
0  racedisparity005007  2009-01-01T00:00:00  33.60301
1      2020ratio002013  2010-01-01T00:00:00   9.50668
2  racedisparity005007  2010-01-01T00:00:00  36.29680
3      2020ratio002013  2011-01-01T00:00:00   7.90683
4  racedisparity005007  2011-01-01T00:00:00  36.59937
5      2020ratio002013  2012-01-01T00:00:00   9.43756
6  racedisparity005007  2012-01-01T00:00:00  35.99552
7      2020ratio002013  2013-01-01T00:00:00   8.10245
8  racedisparity005007  2013-01-01T00:00:00  34.85827
9      2020ratio002013  2014-01-01T00:00:00   9.08749

##### 10 Data By symbol and a date range
/fred/historical/{symbols}?d1=yyyy-mm-dd&d2=yyyy-mm-dd

http://api.tradingeconomics.com/fred/historical/BAMLC0A1CAAAEY?c=guest:guest&d1=2017-05-01&d2=2019-01-01

In [3]:
te.getFedRHistorical(symbol=['racedisparity005007', '2020ratio002013'],initDate='2017-05-01', endDate='2019-01-01',output_type='df')

                symbol                 date     value
0  racedisparity005007  2018-01-01T00:00:00  37.29940
1      2020ratio002013  2018-01-01T00:00:00  10.40920
2  racedisparity005007  2019-01-01T00:00:00  37.27772
3      2020ratio002013  2019-01-01T00:00:00  10.86399

##### 11 Data by symbol and a start date
/fred/historical/{symbols}?d1=yyyy-mm-dd

http://api.tradingeconomics.com/fred/historical/BAMLC0A1CAAAEY?c=guest:guest&d1=2018-05-01

In [4]:
te.getFedRHistorical(symbol=['racedisparity005007', '2020ratio002013'],initDate='2018-05-01',output_type='df')

                symbol                 date     value
0  racedisparity005007  2019-01-01T00:00:00  37.27772
1      2020ratio002013  2019-01-01T00:00:00  10.86399

#### By symbol and page number (Missing) (DEPRECATED)

In [ ]:
#te.getFedRHistorical(symbol ='T10YFF', page_number = '70', output_type = 'df')